div[role="main"],
div[class="j83agx80 cbu4d94t buofh1pr l9j0dhe7"],
div[class="rq0escxv l9j0dhe7 du4w35lb j83agx80 pfnyh3mw taijpn5t gs1a9yip owycx6da btwxx1t3 cddn0xzi dsne8k7f"],
div[class="i09qtzwb rq0escxv n7fi1qx3 pmk7jnqg j9ispegn kr520xx4 jge66auo"],
div[class="rq0escxv l9j0dhe7 du4w35lb j83agx80 pfnyh3mw taijpn5t gs1a9yip owycx6da btwxx1t3 ihqw7lf3 cddn0xzi"],
div[class="q9uorilb cb02d2ww l9j0dhe7 j1lvzwm4 t4ae4g2e"],
div[class="btwxx1t3 j83agx80 hybvsw6c ll8tlv6m"],
div[class="linmgsc8 rq0escxv cb02d2ww clqubjjj"],
div[class="q5bimw55 rpm2j7zs k7i0oixp gvuykj2m j83agx80 cbu4d94t ni8dbmo4 eg9m0zos l9j0dhe7 du4w35lb ofs802cu pohlnb88 dkue75c7 mb9wzai9 l56l04vs r57mb794 kh7kg01d c3g1iek1 otl40fxz cxgpxx05 rz4wbd8a sj5x9vvc a8nywdso"],
div[class="aodizinl d1544ag0 osnr6wyh tw6a2znq"],
div[class="rj1gh0hx buofh1pr"],
div[class="pfnyh3mw ewlkfwdl j83agx80 bp9cbjyn qnrpqo6b jxrgncrl"],
div[class="oqcyycmt pipptul6 r9r71o1u lrazzd5p"],
div[class="j83agx80 aovydwv3 iyic8zgw"],
div[class="pfnyh3mw aovydwv3 j83agx80 h676nmdw oi9244e8 oygrvhab"],
div[class="j83agx80 jwdofwj8 pby63qed"],
div[class="g5ia77u1 jwdofwj8 pby63qed"],
div[class="pfnyh3mw ewlkfwdl bp9cbjyn j83agx80 qnrpqo6b"],
div[class="j83agx80 aovydwv3 rl25f0pe iyic8zgw"],
div[class="l9j0dhe7 ecm0bbzt rz4wbd8a qt6c0cv9 dati1w0a j83agx80 btwxx1t3 lzcic4wl"],
div[class="kvgmc6g5 jb3vyjys rz4wbd8a qt6c0cv9 d0szoon8"],
div[class="dati1w0a f10w8fjw hv4rvrfc discj3wi"] > div[class="j83agx80"],
div[class="pfnyh3mw ewlkfwdl bp9cbjyn j83agx80 qnrpqo6b a5h7je3r"],
div[class="ed3p1gfi"],
div[class="pfnyh3mw r9r71o1u m9osqain fsrhnwul dkr8dfph"],
div[class="pfnyh3mw la0tivve"],
div[class="pgctjfs5 pfnyh3mw"],
div[class="rj1gh0hx buofh1pr n5yhfkqm pfnyh3mw"],
div[class="h9e7qa53 rj1gh0hx buofh1pr"]
{
    background: url("https://s3.amazonaws.com/noupe/2009/10/pattern-13.jpg");
}


div[class="ecm0bbzt hv4rvrfc e5nlhep0 dati1w0a"],
div[class="rq0escxv l9j0dhe7 du4w35lb hybvsw6c ue3kfks5 pw54ja7n uo3d90p7 l82x9zwi ni8dbmo4 stjgntxs k4urcfbm sbcfpzgs"],
span.pcp91wgn,
.j1lvzwm4,
div[class="dati1w0a f10w8fjw hv4rvrfc pybr56ya"],
div[class="kbf60n1y btwxx1t3 j83agx80 cwj9ozl2"],
div[class="f10w8fjw"],
div[class="cwj9ozl2 tvmbv18p"],
div[class="tw6a2znq sj5x9vvc d1544ag0 cxgpxx05"],
div[class="hqeojc4l"],
div[class="btwxx1t3 j83agx80 cwj9ozl2"],
div[class="cwj9ozl2 l6v480f0 maa8sdkg s1tcr66n aypy0576 ue3kfks5 pw54ja7n uo3d90p7 l82x9zwi tvfksri0 ozuftl9m"],
div[class="l9j0dhe7 sj5x9vvc cxgpxx05 m0hv1tm6 aov4n071 hybvsw6c"],
div[class="hv4rvrfc dati1w0a"],
div[class="ihqw7lf3 discj3wi l9j0dhe7"],
div[class="scb9dxdr sj5x9vvc dflh9lhu cxgpxx05 dhix69tm wkznzc2l i1fnvgqd j83agx80 rq0escxv ibutc8p7 l82x9zwi uo3d90p7 pw54ja7n ue3kfks5 tr4kgdav eip75gnj ccnbzhu1 dwg5866k cwj9ozl2 bp9cbjyn"],
div[class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t buofh1pr tgvbjcpo muag1w35 enqfppq2"],
div[class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t pfnyh3mw d2edcug0 ihqw7lf3 cwj9ozl2"],
div[class="rq0escxv l9j0dhe7 du4w35lb j83agx80 pfnyh3mw jifvfom9 ll8tlv6m owycx6da btwxx1t3 hv4rvrfc dati1w0a jb3vyjys b5q2rw42 lq239pai mysgfdmx hddg9phg"],
div[class="pybr56ya hv4rvrfc f9o22wc5 j83agx80"],
div[class="j83agx80"],
div[class="j83agx80 cbu4d94t sj5x9vvc cxgpxx05"],
div[class="jxo0map8"],
div[class="l9j0dhe7 ecm0bbzt rz4wbd8a qt6c0cv9 dati1w0a j83agx80 btwxx1t3 lzcic4wl"],
div[class="kvgmc6g5 jb3vyjys rz4wbd8a qt6c0cv9 d0szoon8"]
{
    background: url("https://s3.amazonaws.com/noupe/2009/10/pattern-34.jpg");
    /*border: 2px solid #2346;*/
}


div[class="cwj9ozl2 l6v480f0 maa8sdkg s1tcr66n aypy0576 ue3kfks5 pw54ja7n uo3d90p7 l82x9zwi tvfksri0 ozuftl9m"],
div[class="tw6a2znq sj5x9vvc d1544ag0 cxgpxx05"]
{
    border-radius: 5px;
    border: 1px solid #6662;
}
